@import url("bootstrap.less");

.animation (@name, @duration: 300ms, @delay: 0, @length: infinite, @ease: ease) {
  -webkit-animation: @name @duration @delay @length @ease;
  -moz-animation:    @name @duration @delay @length @ease;
  -ms-animation:     @name @duration @delay @length @ease;
}

.animation-delay (@duration) {
  -webkit-animation-delay: @duration;
  -moz-animation-delay: @duration;
  -ms-animation-delay: @duration;
  animation-delay: @duration;
}

body {
  background: url('../img/greens-crushed.jpg') no-repeat fixed;
  background-position: 30% 50%;
  -webkit-background-size: cover;
}

.jumbotron {
  color: #fff;
  height: 400px;
  padding: 32px 0;
  text-align: center;
  .container {
    margin-top: 80px;
  }
  h3 {
	text-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
}

br.shallow {
  line-height: 50%;
}

.white-backdrop {
  background: #fff;
}

.container {
  padding: 16px inherit;
  > h4 {
    margin-top: 24px;
	margin-bottom: 24px;
  }
  img {
	margin: 24px 0;
  }
}

.bubble {
  background: url('../img/greens-crushed.jpg') 100% 40%;
  color #fff;
  height: 190px;
  width: 220px;
  border-radius: 100%;
  padding-top: 30px;
  margin: 0 auto;
  h4, p, i {
	color: #fff;
  }
}

.backdrop {
  height: 180px;
  padding: 12px 0;
  img {
	margin: 0;
  }
}

path {
  fill: @greenDark;
}

.impact {
  font-size: @baseFontSize * 1.25;
  &-small {
	font-size: @baseFontSize * 1.05;
  }
  &-large {
	font-size: @baseFontSize * 1.65;
  }
  &-shallow {
	line-height: 0%;
  }
}

.icons-ul-big {
  margin-left: 128px;
  li {
	min-height: 70px;
	padding-top: 6px;
  }
  [class^="icon-"],
  [class*=" icon-"] {
	margin-top: 24px;
  }
}

.scrollshow {
  opacity: 0;
}

.ui-scrollfix {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #fff;
  z-index: 1000;
  box-shadow: 4px 0 6px rgba( 0,0,0,0.4);
  padding-top: 18px;
  .scrollshow {
	opacity: 1;
  }
}

tabset {
  li {
	display: none;
  }
  .nav-tabs {
	border: none;
  }
}

@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; }
  5% { opacity: 1;}
  17% { opacity: 1; }
  20% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-moz-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; }
  5% { opacity: 1;}
  17% { opacity: 1; }
  20% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-o-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; }
  5% { opacity: 1;}
  17% { opacity: 1; }
  20% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; }
  5% { opacity: 1;}
  17% { opacity: 1; }
  20% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; }
  5% { opacity: 1;}
  17% { opacity: 1; }
  20% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
// 216 105 252
@-webkit-keyframes rotateLength {
  0% { margin-right: 220px; }
  22% { margin-right: 220px; }
  34% { margin-right: 109px; }
  54% { margin-right: 109px; }
  68% { margin-right: 256px;}
  84% { margin-right: 256px;}
}
@-moz-keyframes rotateLength {
  0% { margin-right: 220px; }
  22% { margin-right: 220px; }
  34% { margin-right: 109px; }
  54% { margin-right: 109px; }
  68% { margin-right: 256px;}
  84% { margin-right: 256px;}
}
@-o-keyframes rotateLength {
  0% { margin-right: 220px; }
  22% { margin-right: 220px; }
  34% { margin-right: 109px; }
  54% { margin-right: 109px; }
  68% { margin-right: 256px;}
  84% { margin-right: 256px;}
}
@-ms-keyframes rotateLength {
  0% { margin-right: 220px; }
  22% { margin-right: 220px; }
  34% { margin-right: 109px; }
  54% { margin-right: 109px; }
  68% { margin-right: 256px;}
  84% { margin-right: 256px;}
}
@keyframes rotateLength {
  0% { margin-right: 220px; }
  22% { margin-right: 220px; }
  34% { margin-right: 109px; }
  54% { margin-right: 109px; }
  68% { margin-right: 256px;}
  84% { margin-right: 256px;}
}

.span-spinner {
  .animation (rotateLength, 9s, 0, infinite, linear);
  float: none;
  display: inline;
  margin-right: 220px;
  margin-left: 0;
  span {
	.animation (rotateWord, 9s, 0, infinite, linear);
	position: absolute;
	opacity: 0;
	overflow: hidden;
	&:nth-child(2) {
	  .animation-delay (3s);
	}
	&:nth-child(3) {
	  .animation-delay (6s);
	}
  }
}
