<!DOCTYPE html>
<html lang="en" ng-app="mangroveApp">
<head>
	<meta charset="utf-8">
	<title>mangrove: The package manager from valanx</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="The package manager you didn't know you desparately needed.">
	<meta name="author" content="David Deutsch">
	<link href="css/mangrove.css" rel="stylesheet">
	<script src="js/modernizr.custom.31098.js"></script>
</head>
<body>
	<header id="overview" class="jumbotron subhead">
		<div class="container">
			<img src="img/mangrove-logo-white.png" />
			<h3>The <span class="span-spinner"><span>package manager</span><span>installer</span><span>deployment solution</span></span>you didn't even know<br />you <em>desperately</em> need.</h3>
		</div>
	</header>
	<div class="white-backdrop">

	<div class="menu-placeholder">
		<div class="menu" ui-scrollfix="-260">
			<p class="text-center"><span class="scrollshow"><strong>mangrove:</strong></span>&nbsp;&nbsp;&nbsp;<a href="#packagemanager">Package Management</a> for: <a href="#regularusers">Regular Users</a> | <a href="#sitedevelopers">Website Developers</a> | <a href="#softwaredevelopers">Software Developers</a></p>
		</div>
	</div>

	<div class="container">
	<h4 class="text-center">What's <strong>mangrove</strong>?</h4>
		<div class="row big-row">
			<div class="span4 text-center">
				<svgpoly path="img/noun_project_9760.svg"></svgpoly>
				<h4>A decentralized<br />deployment system</h4>
			</div>
			<div class="span4 text-center">
				<svgpoly path="img/noun_project_11030.svg"></svgpoly>
				<h4>delivering fresh<br />software</h4>
			</div>
			<div class="span4 text-center">
				<svgpoly path="img/noun_project_19476.svg"></svgpoly>
				<h4>to people with<br />no time to waste</h4>
			</div>
		</div>

	<img src="img/line.png" />
	<h4 class="text-center">It's built for:</h4>
		<div class="row">
			<div class="span4 text-center">
				<svgpoly path="img/noun_project_15692.svg"></svgpoly>
				<p class="impact"><strong>hyperspeed</strong></p>
			</div>
			<div class="span4 text-center">
				<svgpoly path="img/noun_project_3756.svg"></svgpoly>
				<p class="impact"><strong>&uuml;berefficiency</strong></p>
			</div>
			<div class="span4 text-center">
				<svgpoly path="img/noun_project_16812.svg"></svgpoly>
				<p class="impact"><strong>professionals</strong></p>
			</div>
		</div>

	<br />

	<div class="row">
		<div class="span12 text-center backdrop">
			<br />
			<h2>we <i class="icon-heart heartbeat"></i> automation</h2>
			<p>...so we made sure that mangrove not only<br /><strong>does your laundry for you</strong>,<br />but <em>shop for your clothes and wear them, too</em>.</p>
			<p>It's <strong>that good</strong>.</p>
		</div>
	</div>



	<br />

	<img src="img/line.png" />
		<h4 class="text-center">
			<i class="icon-cog icon-3x pull-left"></i>
			<i class="icon-cog icon-3x pull-right"></i>
			<strong>Hey! Hey you!</strong> thanks for checking out this site.
			<br />
			<br />
			Just a note: It's currently <strong>still under construction</strong>,<br />so don't mind the mess.
		</h4>
	<img src="img/line.png" />

	<img src="http://placehold.it/960x450&text=Interface Screenshot" />

	<h4 id="packagemanager">So - what's a <strong>package manager</strong>?</h4>
	<p>A package manager helps you install software without having to copy files or links into your system. They connect you to sources of packages </p>
	<p>If you have used a computer or similar device in the past couple of years, you will certainly have used a package manager - whether you know it or not.</p>
	<p>For instance - app store are a popular way to manage packages (those packages simply happen to be entire applications) or you might have used one to update existing software on your computer with an automatic updater (in turn being a package manager for a single application).</p>
	<p>mangrove brings that concept into the joomla world in a more elegant way than existing solutions.</p>

	<img src="http://placehold.it/960x450&text=Package Flowchart" />

	<br />
	<h4 class="text-center">Who are <strong>you</strong>?</h4>
	<br />
	<div class="row">
		<div class="span4 text-center">
			<div class="bubble">
				<i class="icon-group icon-4x"></i>
				<h4>I am a<br />regular <strong>user</strong></h4>
				<p>I build my own<br />website(s)</p>
			</div>
			<br />
			<p><a href="#regularusers"><i class="icon-double-angle-down"></i> what's in it for me?</a></p>
		</div>
		<div class="span4 text-center">
			<div class="bubble">
				<span class="icon-stack icon-2x">
					<i class="icon-desktop icon-stack-base"></i>
					<i class="icon-th" style="margin-top:-10px; margin-left: 3px"></i>
				</span>
				<h4>I'm a <strong>website developer</strong></h4>
				<p>I make websites for<br />other people</p>
			</div>
			<br />
			<p><a href="#sitedevelopers"><i class="icon-double-angle-down"></i> what's in it for me?</a></p>
		</div>
		<div class="span4 text-center">
			<div class="bubble">
				<i class="icon-keyboard icon-4x"></i>
				<h4>I'm a <strong>software developer</strong></h4>
				<p>I code my own<br />software</p>
			</div>
			<br />
			<p><a href="#softwaredevelopers"><i class="icon-double-angle-down"></i> what's in it for me?</a></p>
		</div>
	</div>
	<br />
	<p>Either way: That's awesome! We have something neat for you, no matter which of the three groups above you belong to.</p>

	<br />

	<img src="img/line.png" />

	<br />

	<h4 id="regularusers">What's in it for... <strong>Regular Users</strong>?</h4>

	<br />

	<div class="row">
		<div class="span3 text-center">
			<i class="icon-circle-blank icon-4x icon-li"></i>
			<h5>Install <strong>less</strong></h5>
			<p><strong>Install only the parts you need.</strong><br />Bye bye "firehose-install-everything"</p>
			<div ng-controller="CollapseCtrl">
				<p class="text-center">
					<button class="btn btn-mini" ng-click="isCollapsed = !isCollapsed">Show me how</button>
				</p>
				<div collapse="!isCollapsed">
					<p class="text-center">
						<img src="img/flowchart-installless.jpg" />
						<br />This flowchart shows how instead of installing a full package with many smaller parts, you just install the parts that you need.
					</p>
				</div>
			</div>
		</div>
		<div class="span3 text-center">
			<i class="icon-dashboard icon-4x icon-li"></i>
			<h5>Install <strong>faster</strong></h5>
			<p>Including one-click<br />(and automatic)<br />installs and updates.</p>
			<div ng-controller="CollapseCtrl">
				<p class="text-center">
					<button class="btn btn-mini" ng-click="isCollapsed = !isCollapsed">How fast, really?</button>
				</p>
				<div collapse="!isCollapsed">
					<p class="text-center">
						<img src="http://placehold.it/660x450&text=Speed demo?" />
						<br />Not really sure what to do here... a comparison? Just a video?
					</p>
				</div>
			</div>
		</div>
		<div class="span3 text-center">
			<i class="icon-cloud-download icon-4x icon-li"></i>
			<h5>Get <strong>new features</strong> faster</h5>
			<p>No more waiting for the next "big" release, get plugins and features ahead of major releases.</p>
		</div>
		<div class="span3 text-center">
			<i class="icon-wrench icon-4x icon-li"></i>
			<h5>Development Builds<br /><strong>without the headaches</strong></h5>
			<p>mangrove makes using bleeding edge builds both safer and more convenient</p>
			<div ng-controller="CollapseCtrl">
				<p class="text-center">
					<button class="btn btn-mini" ng-click="isCollapsed = !isCollapsed">Show me how</button>
				</p>
				<div collapse="!isCollapsed">
					<p class="text-center">
						<img src="img/flowchart-developmentbuilds.jpg" />
						<br />A user finds a bug and reports it to the support team. They file a bug report and a new branch of the source code is set up. After a fix has been found, the user installs only the fixed branch, not a completely new package.
						Sometimes, you need to use bleeding edge software. If everything goes right, that gets you all the fixes you need. Unfortunately, however, you may also get some new bugs you didn't want.
						With mangrove, software developers can split off fixes into separate branches so you only get the version you need, not all the changes that you're not ready for, yet (for instance when receiving support on a bug).
					</p>
				</div>
			</div>
		</div>
	</div>

	<br />

	<img src="http://placehold.it/960x450&text=Screenshot" />

	<h4 id="sitedevelopers">What's in it for... <strong>Site Developers</strong>?</h4>


	<br />

	<div class="row">
		<div class="span4 text-center">
			<i class="icon-dashboard icon-4x icon-li"></i>
			<h5><strong>Deploy software</strong> to your clients<br /><strong>at hyperspeed</strong></h5>
			<p>We're giving <em>you</em> the power over your own clients instead of imposing ourselves.</p>
		</div>
		<div class="span4 text-center">
			<i class="icon-random icon-4x icon-li"></i>
			<h5>Manage <strong>your sources</strong><br /><strong>your way</strong></strong></h5>
			<p>Including your own (which might be transparent relays to other servers).</p>
		</div>
		<div class="span4 text-center">
			<i class="icon-search icon-4x icon-li"></i>
			<h5><strong>Pick and choose</strong><br />updates</h5>
			<p>Clients trust <em>you</em> with their site, so <em>you</em> should be in charge of making sure they're happy.</p>
		</div>
	</div>

	<br />

	<img src="http://placehold.it/960x450&text=Screenshot" />

	<h4 id="softwaredevelopers">What's in it for... <strong>Software Developers</strong>?</h4>

	<div ng-controller="TabsCtrl">
		<div class="row">

			<div class="span4 text-center">
				<i class="icon-sitemap icon-4x icon-li"></i>
				<h5><strong>Distributed &amp; Decentralized</strong></h5>
				<p>Where other solutions try to bind you to them as a service, mangrove is set up to be decentralized. However, since it has networking capabilities built in, developers can link up and form a distributed network.</p>
				<button class="btn btn-mini" ng-click="choose(0)"><i class="icon-double-angle-down"></i> Show me how</button>
			</div>

			<div class="span4 text-center">
				<i class="icon-puzzle-piece icon-4x icon-li"></i>
				<h5><strong>Modularize</strong> your projects</h5>
				<p>Components, Plugins, Modules, Translations&hellip; Applications can get pretty hard to manage with all the small parts you have to keep track of in your codebase. With mangrove, you can dispose of complicated build scripts or endless package fiddling. We even generate those annoying .xml files for you, if you want!</p>
				<button class="btn btn-mini" ng-click="choose(1)"><i class="icon-double-angle-down"></i> Show me how</button>
			</div>

			<div class="span4 text-center">
				<i class="icon-github icon-4x icon-li"></i>
				<h5>Connects to <strong>GitHub</strong></h5>
				<p>Direct integration, including branches and ticket information. (Integration with other services possible or planned.)</p>
			</div>

		</div>

		<tabset>

			<tab>
				<p class="text-center">
					<img src="img/flowchart-distributedndecentralized.jpg" />
					<br />Multiple package vendors produce multiple different applications. Those are pushed into public streams that are then used by clients.
				</p>
			</tab>

			<tab>
				<p class="text-center">
					<img src="img/flowchart-modularize.jpg" />
					<br />A big, monolithic package already consists of many large parts. These are broken up into several categories - Components, Modules, Plugins, Language Packs and Addons. All of those have their own individual version history and packaging details (like requiring other packages)
				</p>
			</tab>

			<tab>

			</tab>

		</tabset>
	</div>

	<div class="row">
		<div class="span4 text-center">
			<i class="icon-eur icon-4x icon-li"></i>
			<h5>Integrates with <strong>AEC</strong></h5>
			<p>Ready-to-go, Ready-to-sell: With joomla, AEC and mangrove, you're ready to have your business set up in no-time. Set up memberships for individual software packages and restrict the number of connected sites, if you want to.</p>
			<div ng-controller="CollapseCtrl">
				<p class="text-center">
					<button class="btn btn-mini" ng-click="isCollapsed = !isCollapsed">Show me how</button>
				</p>
				<div collapse="!isCollapsed">
					<p class="text-center">
						<img src="http://placehold.it/660x450&text=Ready to sell" />
						<br />When setting up AEC, an integration with the mangrove server can be set up. That automatically checks back with the server to find out which permissions could be set for users. When a user purchases a plan, the serer is queried and sets the correct permissions.
					</p>
				</div>
			</div>
		</div>
		<div class="span4 text-center">
			<i class="icon-rocket icon-4x icon-li"></i>
			<h5><strong>Push-to-Deploy</strong></h5>
			<p>One push to your repository and a few moments later, a new package is available to your clients. (Or, with automatic updates, is already installed for your clients.)</p>
			<div ng-controller="CollapseCtrl">
				<p class="text-center">
					<button class="btn btn-mini" ng-click="isCollapsed = !isCollapsed">Show me how</button>
				</p>
				<div collapse="!isCollapsed">
					<p class="text-center">
						<img src="img/flowchart-pushtodeploy.jpg" />
						<br />A developer creates a new commit and pushes that to the repository. This in turn triggers a build on the mangrove server. This creates a new package which is served to clients.
					</p>
				</div>
			</div>
		</div>
		<div class="span4 text-center">
			<i class="icon-code-fork icon-4x icon-li"></i>
			<h5>Makes <strong>proper use of git</strong></h5>
			<p>Understands <strong>branches</strong> and uses <strong>semantic versioning</strong> automatically.</p>
			<p><strong>Wait a minute!</strong> How does it do automatic version numbers?</p>

			<div ng-controller="CollapseCtrl">
				<p class="text-center">
					<button class="btn btn-mini" ng-click="isCollapsed = !isCollapsed">Show me how</button>
				</p>
				<div collapse="!isCollapsed">
					<p class="text-center">
						<img src="http://placehold.it/660x450&text=Semantic Versioning and branches" />
						<br />When a commit is applied to a repository, mangrove server checks which packages are affected and increments their version number according to the number of changes, individually. Branches carry their own version numbers and on a merge, these are joined up.
					</p>
				</div>
			</div>
		</div>
	</div>

	</div>
	</div>

	<div class="container text-center">
		<p>Valanx Copyright © 2013.</p>
		<p></p><a href="http://valanx.org/index.php?option=com_content&amp;view=article&amp;id=34&amp;Itemid=102">Some Rights Reserved</a>.<br><br><span style="color:#999">All logos and trademarks<br>are courtesy of their respective owner.</span></p>
	</div>

	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
	<script src="js/ui-bootstrap-tpls-0.4.0.min.js"></script>
	<script src="js/scrollfix.js"></script>
	<script src="js/mangrove.js"></script>
</body>
</html>



