<!DOCTYPE html>
<html lang="en" ng-app="mangroveApp">
<head>
	<meta charset="utf-8">
	<title>mangrove: The package manager from valanx</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="The package manager you didn't know you desperately needed.">
	<meta name="author" content="David Deutsch">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="shortcut icon" type="image/png" href="img/favicon.png">
	<link href="css/mangrove.css" rel="stylesheet">
	<script src="js/modernizr.custom.31098.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-animate.min.js"></script>
	<base href="/" />
</head>
<body>

<div class="menu-placeholder">
	<nav class="menu" ui-scrollfix="120" role="navigation">
		<p class="text-center">
			<span class="scrollshow"><a scroll-on-click href="#!/start"><img src="img/mangrove-logo-tiny.png" alt="Mangrove, Package Management Tool"/></a></span>
				<span class="menu-text">
					<a scroll-on-click href="#!/packagemanager" offset="-80">Package Management</a>
					that is <a scroll-on-click href="#!/different" offset="-80">kind of different</a>
					and made <a scroll-on-click href="#!/foryou" offset="-80">for you</a>
				</span>
		</p>
	</nav>
</div>

	<header id="start" class="jumbotron subhead" role="banner">
		<div class="container container-header">
			<h1>
				<img src="img/mangrove-logo-white-new.png" alt="Mangrove, Package Management Tool" width="380" height="148" />
				<strong class="tagline">The&nbsp;&nbsp;<span class="span-spinner"><span>package manager</span><span>installer</span><span>deployment solution&nbsp;&nbsp;</span></span>&nbsp;you didn't even know<br />you <em>desperately</em> need.</strong>
			</h1>
		</div>
	</header>

	<div class="container" role="tldr">

		<div class="white-backdrop-centered">

	<section id="usp" class="section">
		<h2 class="text-center">What's <strong>mangrove</strong>?</h2>
		<br />
		<div class="row big-row">
			<div class="col-md-4 text-center">
				<svgpoly path="img/noun_project_9760.svg"></svgpoly>
				<strong class="keytext">a decentralized<br />deployment network</strong>
			</div>
			<div class="col-md-4 text-center">
				<svgpoly path="img/noun_project_11030.svg"></svgpoly>
				<strong class="keytext">delivering fresh<br />software</strong>
			</div>
			<div class="col-md-4 text-center">
				<svgpoly path="img/noun_project_19476.svg"></svgpoly>
				<strong class="keytext">to people with<br />no time to waste</strong>
			</div>
		</div>
		<span class="separator"><img src="img/line.png" alt="" width="940" height="3" /></span>
		<h2 class="text-center">with a focus on</h2>
		<br />
		<div class="row">
			<div class="col-md-4 text-center">
				<svgpoly path="img/noun_project_15692.svg"></svgpoly>
				<strong class="keytext">hyperspeed</strong>
			</div>
			<div class="col-md-4 text-center">
				<svgpoly path="img/noun_project_3756.svg"></svgpoly>
				<strong class="keytext">&uuml;berefficiency</strong>
			</div>
			<div class="col-md-4 text-center">
				<svgpoly path="img/noun_project_16812.svg"></svgpoly>
				<strong class="keytext">professionals</strong>
			</div>
		</div>

		<br />

		<div class="row">
			<div class="col-md-12 text-center backdrop heartbeat-container">
				<br />
				<h2>we <i class="fa fa-heart heartbeat"><span class="is-hidden">love</span></i> automation</h2>
				<p>...so it is our mission that mangrove not only<br /><strong>does your laundry for you</strong>,<br />but <em>shop for your clothes and wear them, too</em>.</p>
				<p>It's <strong><em>that good</em></strong>.</p>
			</div>
		</div>

		<br /><br />
	</section>

	</div>

	</div>

	<br /><br /><br />


	<div class="white-backdrop">

	<div class="container" role="main">

	<span class="separator"><img src="img/line.png" alt="" width="940" height="3" /></span>

	<aside>
		<h2 class="text-center">
			<i class="fa fa-cog fa-3x pull-left"></i>
			<i class="fa fa-cog fa-3x pull-right"></i>
			<strong>Hey! Hey you!</strong> thanks for checking out this site.
			<br />
			Just a note: It's currently <strong>still under construction</strong>,<br />so don't mind the mess.
		</h2>
	</aside>

	<span class="separator"><img src="img/line.png" alt="" width="940" height="3" /></span>

		<section id="introduction" class="section">
			<img src="img/mangrove-server-home.jpg" alt="" width="1193" height="633" />

			<h2 id="packagemanager">So - what's a <strong>package manager</strong>?</h2>
			<div class="row" style="vertical-align: top;">
				<div class="col-md-4">
					<p>A package manager helps you install software without having to touch any files yourself.</p>
					<p>If you have ever used a Linux Distribution, you will be familiar with one of their package managers like apt or yum and might have also used one of the various UIs that sit on top of them. For Mac OS, homebrew does about the same thing.</p>
					<p>You might have used one <em>without</em> noticing too, though.</p>
					<p>For instance - app stores are a popular way to manage packages (those packages simply happen to mostly be entire applications) or you might have used one to update existing software on your computer with an automatic updater (in turn being a package manager for a single application).</p>
				</div>
				<figure class="text-center col-md-8 img img-right">
					<img src="img/flowchart_package_management.png" class="img-illustration" alt="" width="840" height="433" />
				</figure>
			</div>

			<h2 id="different">How is <strong>mangrove</strong> different?</h2>
			<div class="row" style="vertical-align: top;">
				<div class="col-md-3">
					<img class="img-span3" src="img/whymangrove_mangrove.jpg" alt="" width="300" height="482" />
					<h3>it's <strong>decentralized</strong></h3>
					<p><strong>Both software and site developers can roll their <em>own</em> server.</strong></p>
					<p>Clients connect to the sources they need and trust.</p>
					<p>That way, there is no central point of failure and the sources you connect to are, ideally, close to you.</p>
					<p>By being decentralized, it makes the most efficient use of the resources and balances the load across nodes. The structure of the system in itself is thus like a CDN.</p>
				</div>
				<div class="col-md-3">
					<img class="img-span3" src="img/whymangrove_decentralized.jpg" alt="" width="300" height="482" />
					<h3>it's a <strong>network</strong></h3>
					<p><strong>Individual servers can be connected to each other.</strong></p>
					<p>Clients connect to servers from site developers or community projects which they trust... which in turn forward only the software from developers they trust.</p>
					<p>Through this, the network becomes a natural <strong>web of trust</strong>.</p>
					<p>After all, this <em>is</em> the internet, let's use it the way it was meant to be used.</p>
				</div>
				<div class="col-md-3">
					<img class="img-span3" src="img/whymangrove_portable.jpg" alt="" width="300" height="482" />
					<h3>it's <strong>portable</strong></h3>
					<p>The client and server alike <strong>can run standalone or in your CMS</strong>.</p>
					<p>The entire software stack was built on only a handful of dependencies, it works well across PHP versions and is not bound to a particular framework.</p>
					<p>The client can even chug along on a PHP5.2 install, if that's what you're into.</p>
				</div>
				<div class="col-md-3">
					<img class="img-span3" src="img/whymangrove_cheetah.jpg" alt="" width="300" height="482" />
					<h3>it's <strong>fast</strong></h3>
					<p>From the <strong>package building</strong> to the <strong>deployment</strong> to <strong>even the UI itself</strong>, mangrove is <strong>built for speed and efficiency</strong>.</p>
					<p>Throughout the entire deployment chain, it further uses <strong>an efficient publisher/subscriber structure</strong> and communicates through a <strong>slim, RESTful API</strong>.</p>
					<p>To keep traffic down further, mangrove only distributes the software that the client needs in small, incremental packages.</p>
				</div>
			</div>

			<span class="separator"><img src="img/line.png" alt="" width="940" height="3" /></span>

			<div class="row" style="vertical-align: top;">
				<div class="col-md-4">
					<h3>it's built for <strong>applications</strong></h3>
					<p>Most package management or deployment software works great for libraries but is very uncomfortable for applications.</p>
					<p>For instance: you may want to <strong>deploy individual features as separate plugins</strong>, but that would mean making separate repositories or structuring your main repository awkwardly.</p>
					<p><strong>In mangrove, applications and their extensions are the first class citizens, not packages.</strong></p>
				</div>
				<div class="col-md-4">
					<h3>it's built for <strong>business</strong></h3>
					<p>While mangrove embraces FOSS principles, it is <strong>built by and for seasoned commercial software vendors and users</strong>.</p>
					<p>Every facet of the system is embedded in a flexible and effective access restriction system that lets you monetize your channels in a way that fits <strong>your</strong> business.</p>
				</div>
				<div class="col-md-4">
					<h3>it's built for <strong>freedom</strong></h3>
					<p><strong>Trust is all about having the freedom to go somewhere else... yet still sticking around</strong>.</p>
					<p>With a flexible system like mangrove, participants of the network excel in their roles because they can be held accountable and can be exchanged.</p>
					<p>Instead of a dependency, it's about mutual responsibility.</p>
				</div>
			</div>

		</section>

		<span class="separator"><img src="img/line.png" alt="" width="940" height="3" /></span>

		<br />
		<h2 class="text-center" id="foryou">Who are <strong>you</strong>?</h2>
		<br />
		<div class="row">
			<div class="col-md-4 text-center">
				<div class="bubble">
					<i class="fa fa-group fa-4x"></i>
					<p class="bubble-big">I am a<br />regular <strong>user</strong></p>
					<p>I build my own<br />website(s)</p>
				</div>
				<br />
				<p><a scroll-on-click offset="-150" href="#!/regularusers"><i class="fa fa-double-angle-down"></i> what's in it for me?</a></p>
			</div>
			<div class="col-md-4 text-center">
				<div class="bubble">
						<span class="fa-stack fa-2x">
							<i class="fa fa-desktop fa-stack-2x"></i>
							<i class="fa fa-th fa-stack-1x" style="margin-top:-10px; margin-left: 3px"></i>
						</span>
					<p class="bubble-big">I'm a <strong>website<br />developer</strong></p>
					<p>I make websites for<br />other people</p>
				</div>
				<br />
				<p><a scroll-on-click offset="-150" href="#!/sitedevelopers"><i class="fa fa-double-angle-down"></i> what's in it for me?</a></p>
			</div>
			<div class="col-md-4 text-center">
				<div class="bubble">
					<i class="fa fa-keyboard-o fa-4x"></i>
					<p class="bubble-big">I'm a <strong>software<br />developer</strong></p>
					<p>I code my own<br />software</p>
				</div>
				<br />
				<p><a scroll-on-click offset="-150" href="#!/softwaredevelopers"><i class="fa fa-double-angle-down"></i> what's in it for me?</a></p>
			</div>
		</div>

		<span class="separator"><img src="img/line.png" alt="" width="940" height="3" /></span>

		<nav class="menu submenu" ui-scrollfix="-360" role="navigation">
			<p class="text-center">
				<a scroll-on-click offset="-120" href="#!/regularusers">Regular Users</a>
				&nbsp;&nbsp;<strong>·</strong>&nbsp;&nbsp;
				<a scroll-on-click offset="-120" href="#!/sitedevelopers">Site Developers</a>
				&nbsp;&nbsp;<strong>·</strong>&nbsp;&nbsp;
				<a scroll-on-click offset="-120" href="#!/softwaredevelopers">Software Developers</a>
			</p>
		</nav>

		<section id="regularusers" class="section">
			<h2>What's in it for... <strong>Regular Users</strong>?</h2>

			<br />

			<div class="row" ng-controller="UserExplanationCtrl">
				<div class="panel">
					<div class="tabs-left">
						<ul class="nav nav-tabs">
							<li ng-click="selected='install-less'" ng-class="{'active':selected=='install-less'}">
								<a><i class="fa fa-circle-o fa-2x"></i><br />Install <strong>less</strong></a>
							</li>
							<li ng-click="selected='install-faster'" ng-class="{'active':selected=='install-faster'}">
								<a><i class="fa fa-dashboard fa-2x"></i><br />Install <strong>faster</strong></a>
							</li>
							<li ng-click="selected='new-features'" ng-class="{'active':selected=='new-features'}">
								<a><i class="fa fa-cloud-download fa-2x"></i><br />Get <strong>new features</strong> faster</a>
							</li>
							<li ng-click="selected='fresh-builds'" ng-class="{'active':selected=='fresh-builds'}">
								<a><i class="fa fa-wrench fa-2x"></i><br />Fresh Builds<br /><strong>without the headaches</strong></a>
							</li>
						</ul>
						<div class="tab-content">
							<div ng-show="selected=='install-less'" class="tab-pane" ng-class="{'active':selected=='install-less'}">
								<img src="img/flowchart_install_less.png" alt="" width="644" height="330" />
								<p><strong>You don't need every part of everything.</strong></p>
								<p>To keep you from installing dozens of individual packages, applications are zipped up into huge containers that simply include everything. So you download and upload a lot more software than you end up using. And then you need to update it.</p>
							</div>
							<div ng-show="selected=='install-faster'" class="tab-pane" ng-class="{'active':selected=='install-faster'}">
								<p>Including one-click<br />(and automatic)<br />installs and updates.</p>
							</div>
							<div ng-show="selected=='new-features'" class="tab-pane" ng-class="{'active':selected=='new-features'}">
								<p>No more waiting for the next "big" release, get plugins and features ahead of major releases.</p>
							</div>
							<div ng-show="selected=='fresh-builds'" class="tab-pane" ng-class="{'active':selected=='fresh-builds'}">
								<p>mangrove makes using bleeding edge builds both safer and more convenient</p>
								<p>A user finds a bug and reports it to the support team. They file a bug report and a new branch of the source code is set up. After a fix has been found, the user installs only the fixed branch, not a completely new package.</p>
								<p>Sometimes, you need to use bleeding edge software. If everything goes right, that gets you all the fixes you need. Unfortunately, however, you may also get some new bugs you didn't want.</p>
								<p>With mangrove, software developers can split off fixes into separate branches so you only get the version you need, not all the changes that you're not ready for, yet (for instance when receiving support on a bug).</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>

		<section id="sitedevelopers" class="section">
			<h2>What's in it for... <strong>Site Developers</strong>?</h2>

			<br />

			<div class="row">
				<div class="col-md-4 text-center">
					<i class="fa fa-dashboard fa-4x"></i><br />
					<h5><strong>Deploy software</strong> to your clients<br /><strong>at hyperspeed</strong></h5>
					<p>We're giving <em>you</em> the power over your own clients instead of imposing ourselves.</p>
				</div>
				<div class="col-md-4 text-center">
					<i class="fa fa-random fa-4x"></i><br />
					<h5>Manage <strong>your sources</strong><br /><strong>your way</strong></h5>
					<p>Including your own (which might be transparent relays to other servers).</p>
				</div>
				<div class="col-md-4 text-center">
					<i class="fa fa-search fa-4x"></i><br />
					<h5><strong>Pick and choose</strong><br />updates</h5>
					<p>Clients trust <em>you</em> with their site, so <em>you</em> should be in charge of making sure they're happy.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 text-center">
					<i class="fa fa-clock-o fa-4x"></i><br />
					<h5><strong>Automatic Updates</strong><br />at <strong>your</strong> pace</h5>
					<p>Getting fast updates is nice, but sometimes, you want them every Saturday at midnight.</p>
				</div>
				<div class="col-md-4 text-center">
				</div>
				<div class="col-md-4 text-center">
				</div>
			</div>

		</section>

		<section id="softwaredevelopers" class="section">
			<h2>What's in it for... <strong>Software Developers</strong>?</h2>

			<br />

			<div class="row" ng-controller="SoftwareDevExplanationCtrl">
				<div class="panel">
					<div class="tabs-left">
						<ul class="nav nav-tabs nav-tabs-long">
							<li ng-click="selected='distributed'" ng-class="{'active':selected=='distributed'}">
								<a><i class="fa fa-sitemap fa-2x"></i><br /><strong>Distributed<br />&amp;<br />Decentralized</strong></a>
							</li>
							<li ng-click="selected='modularize'" ng-class="{'active':selected=='modularize'}">
								<a><i class="fa fa-puzzle-piece fa-2x"></i><br /><strong>Modularize</strong><br />your projects</a>
							</li>
							<li ng-click="selected='github'" ng-class="{'active':selected=='github'}">
								<a><i class="fa fa-github fa-2x"></i><br />Connects to <strong>GitHub</strong></a>
							</li>
							<li ng-click="selected='aec'" ng-class="{'active':selected=='aec'}">
								<a><i class="fa fa-eur fa-2x"></i><br />Integrates with <strong>AEC</strong></a>
							</li>
							<li ng-click="selected='push-deploy'" ng-class="{'active':selected=='push-deploy'}">
								<a><i class="fa fa-rocket fa-2x"></i><br /><strong>Push-to-Deploy</strong></a>
							</li>
							<li ng-click="selected='proper-git'" ng-class="{'active':selected=='proper-git'}">
								<a><i class="fa fa-code-fork fa-2x"></i><br />Makes <strong><br />proper use of git</strong></a>
							</li>
						</ul>
						<div class="tab-content">
							<div ng-show="selected=='distributed'" class="tab-pane" ng-class="{'active':selected=='distributed'}">
								<p>Where other solutions try to bind you to them as a service, mangrove is set up to be decentralized. However, since it has networking capabilities built in, developers can link up and form a distributed network.</p>

								<img src="img/flowchart_placeholder.png" alt="" width="644" height="330" />
								<p><strong>Bla bla</strong> bla.</p>
								<p>Also bla.</p>
							</div>
							<div ng-show="selected=='modularize'" class="tab-pane" ng-class="{'active':selected=='modularize'}">
								<p>Automatically split up your application into packages that can be deployed separately.</p>

								<img src="img/flowchart_modularization.png" alt="" width="712" height="378" />
								<p><strong>Components, Plugins, Modules, Translations&hellip;</strong> Applications can get pretty difficult to manage with all the small parts you have to keep track of in your codebase. Suddenly, you find yourself trying to have your users install a multi-megabyte package that they only need 20% of.</p>
								<p>With mangrove, splitting up your big application into separate packages that can be installed separately is <strong>as easy as writing a one line .json file</strong>.</p>
								<p>(We even automatically generate those annoying .xml files for you, if you want.)</p>
							</div>
							<div ng-show="selected=='github'" class="tab-pane" ng-class="{'active':selected=='github'}">
								<p>Direct integration, including branches and ticket information. (Integration with other services possible or planned.)</p>
								<img src="img/flowchart_placeholder.png" alt="" width="644" height="330" />
								<p><strong>Bla bla</strong> bla.</p>
								<p>Also bla.</p>
							</div>
							<div ng-show="selected=='aec'" class="tab-pane" ng-class="{'active':selected=='aec'}">
								<p>Ready-to-go, Ready-to-sell: With joomla, AEC and mangrove, you're ready to have your business set up in no-time. Set up memberships for individual software packages and restrict the number of connected sites, if you want to.</p>
								<p class="text-center">
									<img src="http://placehold.it/660x450&amp;text=Ready%20to%20sell" alt="" />
									<br />When setting up AEC, an integration with the mangrove server can be set up. That automatically checks back with the server to find out which permissions could be set for users. When a user purchases a plan, the serer is queried and sets the correct permissions.
								</p>
							</div>
							<div ng-show="selected=='push-deploy'" class="tab-pane" ng-class="{'active':selected=='push-deploy'}">
								<p>One push to your repository and a few moments later, a new package is available to your clients. (Or, with automatic updates, is already installed for your clients.)</p>
								<p class="text-center">
									<img src="img/flowchart-pushtodeploy.jpg" alt="" />
									<br />A developer creates a new commit and pushes that to the repository. This in turn triggers a build on the mangrove server. This creates a new package which is served to clients.
								</p>
							</div>
							<div ng-show="selected=='proper-git'" class="tab-pane" ng-class="{'active':selected=='proper-git'}">
								<p>Understands <strong>branches</strong> and uses <strong>semantic versioning</strong> automatically.</p>
								<p><strong>Wait a minute!</strong> How does it do automatic version numbers?</p>
								<p class="text-center">
									<img src="http://placehold.it/660x450&amp;text=Semantic%20Versioning%20and%20branches" alt="" />
									<br />When a commit is applied to a repository, mangrove server checks which packages are affected and increments their version number according to the number of changes, individually. Branches carry their own version numbers and on a merge, these are joined up.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<span class="separator"><img src="img/line.png" alt="" width="940" height="3" /></span>

			<div class="row">
				<div class="col-md-4 text-center">
					<i class="fa fa-th fa-4x"></i><br />
					<h5><strong>Incremental</strong> Builds</h5>
					<p>Only builds what you push.</p>
				</div>
				<div class="col-md-4 text-center">
					<i class="fa fa-download fa-4x"></i><br />
					<h5><strong>Incremental</strong> Deployment</h5>
					<p>Clients only install what they need</p>
				</div>
				<div class="col-md-4 text-center">
					<i class="fa fa-lemon-o fa-4x"></i><br />
					<h5>Some <strong>other</strong> thing</h5>
					<p>Can't remember what, right now.</p>
				</div>
			</div>
		</section>

		<span class="separator"><img src="img/line.png" alt="" width="940" height="3" /></span>

		<h4 class="text-center">How can I get <strong>mangrove</strong>?</h4>

		<br />

		<div class="row">
			<div class="col-md-4 text-center">
					<i class="fa fa-group fa-4x"></i>
					<p class="bubble-big">Regular<br /><strong>Users</strong></p>
			</div>
			<div class="col-md-8">
				<p>Very simple! Just copy and paste this into your joomla installer:</p>
				<p>http://www.serverdoesntexistyet.example/packages/valanx/mangrove-bootstrap</p>
				<p>(Hey, if this catches on, this might be the last URL you need to copy in there!)</p>
			</div>
		</div>
		<span class="separator"><img src="img/line.png" alt="" width="940" height="3" /></span>
		<div class="row">
			<div class="col-md-4 text-center">
				<span class="fa-stack fa-2x">
							<i class="fa fa-desktop fa-stack-2x"></i>
							<i class="fa fa-th fa-stack-1x" style="margin-top:-10px; margin-left: 3px"></i>
						</span>
				<p class="bubble-big"><strong>Site</strong><br />Developers</p>
			</div>
			<div class="col-md-8">
				<p>For basic use, you just install mangrove like a regular user (see above). Of course, based on the volume of sites, this is subject to what restrictions are imposed by the sources you subscribe your sites to.</p>
				<p>.</p>
			</div>
		</div>
		<span class="separator"><img src="img/line.png" alt="" width="940" height="3" /></span>
		<div class="row">
			<div class="col-md-4 text-center">
				<i class="fa fa-keyboard-o fa-4x"></i>
				<p class="bubble-big"><strong>Software</strong><br />Developers</p>
			</div>
			<div class="col-md-8">
				<p>If you want to set up your own mangrove server, you need a "Publisher" membership at valanx. When you have that, contact us directly and we will get you set up.</p>
			</div>
		</div>

		<span class="separator"><img src="img/line.png" alt="" width="940" height="3" /></span>

		<h4 class="text-center">Roadmap</h4>
		<p class="text-center">Here are some of the things that are planned for the near future of mangrove:</p>

		<br />

		<div class="row">
			<div class="col-md-4 text-center">
				<i class="fa fa-dashboard fa-4x"></i>
				<p class="bubble-big">Further<br /><strong>speed improvements</strong></p>
			</div>
			<div class="col-md-8">
				<p>Things like incremental updates per sub-package, deployment to GitHub Releases and other CDNS...</p>
			</div>
		</div>

		<br />

		<div class="row">
			<div class="col-md-4 text-center">
				<i class="fa fa-sitemap fa-4x"></i>
				<p class="bubble-big">Built-in Deployment to<br /><strong>all popular CMSs</strong></p>
			</div>
			<div class="col-md-8">
				<p>At the moment, Joomla is the first target of deployment that mangrove was built for. Wordpress will follow next. We'll see what comes after that.</p>
				<p>Of course, this is as much about how you build your software as it is about the deployment itself, but there are a lot of developers (for instance: template devs) who already have separate build routines in place.</p>
				<p>The goal of mangrove is to tie together your deployment channels.</p>
			</div>
		</div>

		<br />

		<br />

		</div>
	</div>

	<footer role="contentinfo">
		<div class="container text-center">
			<p>Valanx Copyright © 2014.</p>
			<p></p>
			<p>
				<a href="http://valanx.org/index.php?option=com_content&amp;view=article&amp;id=34&amp;Itemid=102">Some Rights Reserved</a>
				<br /><br />
				<span class="footer-disclaimer">All logos and trademarks are courtesy of their respective owner.</span>
			</p>
		</div>
	</footer>
	<script src="js/ui-bootstrap-tpls-0.4.0.min.js"></script>
	<script src="js/scrollfix.js"></script>
	<script src="js/mangrove.js"></script>
</body>
</html>
